<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>College</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Progress</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.studentName }}</td>
        <td>{{ student.college }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.progress }}</td>
        <td>
          <button (click)="editStudent(student)">Edit</button>
          <button (click)="deleteStudent(student)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  